* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  grid-area: header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "aside main main main main main"
    "footer footer footer footer footer footer";
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
